@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Geist:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Figtree", sans-serif;
  --font-code: "Geist", sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}

.button {
  position: relative;
  padding: 20px 28px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  z-index: 0;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px; /* border thickness */
  background: linear-gradient(135deg, #0667c5, #0277ca);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.button::after {
  content: "";
  position: absolute;
  inset: 2px; /* match border thickness */
  border-radius: 10px;
  background: linear-gradient(180deg, #0277ca 0%, #0667c5 100%);
  z-index: -1;
}

.button:hover {
  transform: translateY(-2px);
  transition: 0.15s ease;
  box-shadow: 0px 5px 12px rgba(0, 118, 227, 0.4);
}

.button:active {
  transform: scale(0.98);
  box-shadow: 0px 2px 6px rgba(0, 118, 227, 0.3);
}

.card-item {
  box-shadow: 0px 9px 20px -7px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 9px 20px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 9px 20px -7px rgba(0, 0, 0, 0.35);
}
